<section class="hero hero-home with-pattern d-flex align-items-center py-5">

    <div class="container py-5 mt-3">
        <div class="row align-items-center">
            <div class=" col-md-5 ml-auto"><br><br><br>
                <div class="img-gradient img-gradient-right"><img class="img-fluid  rounded" src="https://apzel-ng.envytheme.com/assets/img/more-home/about/about.png" alt=""></div>
            </div>

            <div class=" col-md-6 mb-5 mb-md-5">

                <p style="color: red;">ABOUT US</p>
                <h1 class="mb-3" style="font-weight: bolder;">Most Probably You Are <br>Getting Best App Ever </h1>
                <p class="text-muted">Cloud based storage for your data backup just log in with your mail account from play store and using whatever you want for your business purpose orem ipsum dummy text. Never missyour chance its just began.</p>
                <br>
                <ul style="font-size: large;">
                    <li><b> Trusted and Reliable</b></li>
                    Most provabily best you can trust on it, just log in with your mail account from play store and using whatever you want for your business.
                    <li><b> Cloud Storage</b></li>
                    Just log in with your mail account from play store and using whatever you want for your business purpose.
                </ul>

                <button type="button" class="btn btn-primary btn-5">
                            Start Free Trial
                </button>&nbsp;&nbsp;&nbsp; <a href="https://apzel-ng.envytheme.com/features-1" style="font-size: large;"><u>See All Features</u></a>


            </div>

        </div>
    </div>
</section>


<section class="hero hero-home with-pattern d-flex align-items-center py-5">

    <div class="container py-5 mt-3">
        <div class="row align-items-center">
            <div class="col-md-6 mb-5 mb-md-5">

                <p style="color: red;">APP PROGRESS</p>
                <h1 class="mb-3" style="font-weight: bolder;">Set Up The Challenges and<br> Track Your Progress</h1>
                <p class="text-muted">Cloud based storage for your data backup just log in with your mail account from play store and using whatever you want for your business purpose orem ipsum dummy text. never missyour chance its just began. backup just log in with your
                    mail account from. Most provabily best for your data backup just log in with your mail account from play store and using whatever you want for your business purpose orem ipsum dummy backup just log in with your mail account from.
                </p>
                <br>
                <br>

                <button type="button" class="btn btn-primary btn-5">
                            Start Free Trial
                </button>


            </div>
            <div class="col-md-5 ml-auto"><br><br><br>
                <div class="img-gradient img-gradient-right"><img class="img-fluid  rounded" src="https://apzel-ng.envytheme.com/assets/img/more-home/progress/progress.png" alt=""></div>
            </div>
        </div>
    </div>

</section>