<div class="topmar">

</div>

<div>Some tags before</div>
<!-- <owl-carousel-o [options]="customOptions"> -->
<ng-template carouselSlide>
    <div>
        <img src="https://apzel-ng.envytheme.com/assets/img/more-home/about/about.png">
    </div>
</ng-template>
<ng-template carouselSlide>
    <div>
        <img src="https://apzel-ng.envytheme.com/assets/img/more-home/about/about.png">
    </div>
</ng-template>
<ng-template carouselSlide>
    <div>
        <img src="https://apzel-ng.envytheme.com/assets/img/more-home/about/about.png">
    </div>
</ng-template>
<!-- </owl-carousel-o> -->
<div>Some tags after</div>