<div class="navbar">
    <div class="container text-align-center ">
        <div class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="nav navbar" style="width: 10%;">
                <p class="nabar-brand">
                    <img src="https://apzel-ng.envytheme.com/assets/img/black-logo.png" alt="">
                </p>
            </div>
            <div class="nav navbar" style="width: 70%;">
                <div class="btn-group ">
                    <button class="btn btn-secondary btn-sm dropdown-toggle btn-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="https://apzel-ng.envytheme.com/">Home Demo-1</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Home Demo-2</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Home Demo-3</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Home Demo-4</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Home Demo-5</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Home Demo-6</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Home Demo-7</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Home Demo-8</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Home Demo-9</a></li>
                    </ul>
                </div>
                <div class="btn-group ">
                    <button class="btn btn-secondary btn-sm dropdown-toggle btn-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        AboutUs
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="https://apzel-ng.envytheme.com/">About Simple</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">About Modern</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Features</a></li>
                    </ul>
                </div>
                <div class="btn-group ">
                    <button class="btn btn-secondary btn-sm dropdown-toggle btn-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pages
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="https://apzel-ng.envytheme.com/">Page I</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Page II</a></li>

                    </ul>
                </div>
                <div class="btn-group ">
                    <button class="btn btn-secondary btn-sm dropdown-toggle btn-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Shop
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="https://apzel-ng.envytheme.com/">Product List</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Cart</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Checkout</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Products Details</a></li>

                    </ul>
                </div>
                <div class="btn-group ">
                    <button class="btn btn-secondary btn-sm dropdown-toggle btn-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 10px!important;">
                        Blog
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="https://apzel-ng.envytheme.com/">Blog Grid</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Blog Right Sidebar</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Blog Left Sidebar</a></li>
                        <li><a href="https://apzel-ng.envytheme.com/">Blog Details</a></li>
                    </ul>
                </div>
                <div class="btn-group ">
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Contact
                </div>
            </div>


            <div class="nav navbar">
                <div class="nav-btn">
                    <button type="button" class="btn btn-primary btn-2">
                        Get Started
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg1">

        <section class="hero hero-home with-pattern d-flex align-items-center py-5">
            <div class="container py-5 mt-3">
                <div class="row align-items-center">
                    <div class="col-md-6 mb-5 mb-md-5">
                        <p style="color: red;">#Get Your 14 Days Free Trial</p>
                        <h1 class="mb-3" style="font-weight: bolder;">Manage All Of Your Stuff <br> Using A Apzel</h1>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id tincidunt eifend odio viverra diam aliquet donec again.</p>
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary btn-5">
                        Download on the<br> App Store 
                    </button> <button type="button" class="btn btn-primary btn-5">
                        Get it on <br> Google Play
                    </button>
                    </div>
                    <div class="col-md-5 ml-auto"><br><br><br>
                        <div class="img-gradient img-gradient-right"><img class="img-fluid  rounded" src="https://apzel-ng.envytheme.com/assets/img/more-home/banner/banner-1.png" alt=""></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>