<section class="hero hero-home with-pattern d-flex align-items-center py-5">

    <div class="container py-5 mt-3">
        <div class="image-container">
            <img src="https://apzel-ng.envytheme.com/assets/img/more-home/video/video.jpg" height="60%" width="100%">
            <a href="https://www.youtube.com/embed/XNQk1qt__Vw" class="circle-button">
                <i class="fa-solid fa-play" style="color: #878282;"></i>Play
            </a>

        </div>
    </div>
</section>