<footer class="text-center text-lg-start text-white" style="background-color: #262A37">
    <div class="container p-4 pb-0">
        <section class="footer">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase"></h5><br>
                    <img class="img-fluid  rounded" src="https://apzel-ng.envytheme.com/assets/img/logo.png" alt="">
                    <p>
                        Best solution for your it startup business, consecteturadipiscing elit. Scelerisque amet odio velit, auctor nam elit nulla. </p>
                    <section class="mb-4 ">
                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i
                        ></a>
                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i
                        ></a>
                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i
                        ></a>
                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa-brands fa-facebook-messenger"></i
                        ></a>

                        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i
                        ></a>
                    </section>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Company</h5><br>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>About Us</p>
                        </li>
                        <li>
                            <p>Core Services</p>
                        </li>
                        <li>
                            <p>Refund Policy</p>
                        </li>
                        <li>
                            <p>FAQ's</p>
                        </li>
                        <li>
                            <p>Reviews</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Support</h5><br>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>Services</p>
                        </li>
                        <li>
                            <p>Support</p>
                        </li>
                        <li>
                            <p>Privacy Policy</p>
                        </li>
                        <li>
                            <p>FAQ's</p>
                        </li>
                        <li>
                            <p>Contact</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Useful Links</h5><br>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>Privacy Policy</p>
                        </li>
                        <li>
                            <p>Refund Policy</p>
                        </li>
                        <li>
                            <p>T&C</p>
                        </li>
                        <li>
                            <p>How It Works?</p>
                        </li>
                        <li>
                            <p>Contact us</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Newsletters</h5><br>
                    <p>Best solution for your it startup business, consecteturadipiscing elit.</p>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" style="background-color:#ffffff" placeholder="Your Enter ">
                        <div class="input-group-append">
                            <span class="input-group-text" style="background-color:#F34264"><i class="fa-solid fa-paper-plane" style="color: #ffffff;"></i>Email</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © Apzel is Proudly Owned by <b style="color: #F34264; font-weight: bolder;">EnvyTheme</b>

    </div>
</footer>